@font-face {
  font-family: 'Haas Grot Disp R';
  src: url("/fonts/NeueHaasGrotDispRound-55Roman.otf");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'Haas Grot Disp R';
  src: url("/assets/fonts/NeueHaasGrotDispRound-65Medium.otf");
  font-style: medium;
  font-weight: 700; }

@font-face {
  font-family: 'Haas Grot Text R';
  src: url("/assets/fonts/NeueHaasGrotTextRound-55Roman.otf");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'Haas Grot Text R';
  src: url("/assets/fonts/NeueHaasGrotTextRound-65Medium.otf");
  font-style: medium;
  font-weight: 600; }

@font-face {
  font-family: 'Haas Grot Text R';
  src: url("/assets/fonts/NeueHaasGrotTextRound-75Bold.otf");
  font-style: bold;
  font-weight: 700; }

body {
  font-family: 'Haas Grot Text R';
  background-color: #000000;
  color: #FFFFFF;
}

.modal-open {
  overflow-y: hidden;
}

h1 {
  font-size: 30px;
}

.header {
  margin-top: 28px;
  width: 100%;
  height: 50px;
  background-color: #000000;
}

.header .title {
  display: table;
  margin: auto;
}

.header .title > * {
  display: inline-block;
  vertical-align: middle;
}

.header .title .logo {
  background-image: url(./assets/compound-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 127px;
  height: 27px;
}

.header .title .center {
  margin: 0px 8px;
  height: 36px;
  opacity: 0.4;
  border: 1px solid #657786
}

.header .title .text {
  margin-top: 3px;
  font-weight: 500;
  font-size: 20px;
  color: #CCD6DD;
}

.fold {
  width: 100%;
  min-height: 82%;
  max-height: 25%;
  background-color: #F9FAFB;
  position: absolute;
  margin: -350px 0px 0px 0px;
  z-index: -1;
  left: 0px;
  border: none;
  right: 0px;
}

.main {
  width: 100%;
  max-width: 1130px;
  padding: 20px;
  min-height: 600px;
  display: block;
  margin: auto;
}

.main .title {
  max-width: 500px;
  display: inline-block;
}

.main .title .status {
  color: #9669ED;
  border: 1.5px solid #9669ED;
  border-radius: 4px;
  padding: 4px 12px;
  line-height: 20px;
  text-align: center;
}

.main .title .info {
  font-family: Haas Grot Text R;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #657786;
  padding-left: 8px;
}

.main .title .status,
.main .title .info {
  display: inline-block;
}

.main .delegate {
  background: #00D395;
  box-shadow: 0px 8px 16px rgba(17, 51, 85, 0.08);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 196px;
  height: 50px;
  right: 0px;
  display: table;
  line-height: 50px;
  float: right;
  margin-top: 50px;
  cursor: pointer;
  user-select: none;
}

.main .progbar {
  height: 136px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(16, 21, 24, 0.05);
  border-radius: 4px;
  margin: 50px auto 0px auto;
  padding: 32px 70px;
  box-sizing: border-box;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  color: #111A24;
}

.main .progbar .text-left {
  text-align: left;
  float: left;
}

.main .progbar .text-right {
  text-align: right;
  float: right;
}

.main .progbar .bar {
  margin-top: 44px;
  height: 10px;
  background: #F1F3F5;
  border-radius: 8px;
  width: 100%;
}

.main .progbar .bar .lit {
  height: 10px;
  background: #00D395;
  border-radius: 8px;
  width: 0%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.main .detail-column {
  display: inline-block;
  height: 600px;
  width: 49%;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(16, 21, 24, 0.05);
  border-radius: 4px;
  margin-top: 20px;
}

.main .detail-column > *,
.main .detail-column ol > * {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  min-height: 54px;
  padding: 20px 26px 20px 26px;
  margin: 0px;
}

.main .detail-column > *:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.main .detail-column .header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #070A0E;
  background: #ffffff;
}

.main .detail-column .regular,
.main .detail-column li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #070A0E;
}

.main .detail-column li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.main .detail-column ol {
  margin-left: 18px;
}

html body .hidden {
  display: none;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  overflow-y: hidden;
}

.inner-modal {
  background-color: #FFFFFF;
  height: 375px;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

.inner-modal .header {
  font-weight: 500;
  line-height: 1;
  color: #141E27;
  font-size: 18px;
  background-color: #FFFFFF;
  text-align: center;
}

.mm {
  margin: auto;
  width: 100px;
  height: 100px;
  background-image: url(./assets/metamask.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.spinner {
  margin: 30px auto;
  display: block;
  text-align: center;
}

.inner-spinner {
  position: relative;
  display: inline-block;
  width: 88px;
  height: 88px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 100%;
  background-size: 88px;
  background-repeat: no-repeat;
  background-position: center;
  background: #00D395;
  border-color: #00D395;
}

.inner-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 88.63%;
  height: 88.63%;
  margin: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.submit {
  margin: 50px auto auto auto;
  background: #00D395;
  box-shadow: 0px 8px 16px rgba(17, 51, 85, 0.08);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 196px;
  height: 50px;
  right: 0px;
  display: table;
  line-height: 50px;
  cursor: pointer;
  user-select: none;
}

.main div.delegate.no-button {
  background-color: #b3b3b3;
  color: #FFFFFF;
  cursor: not-allowed;
  opacity: 0.6;
}